@import 'tailwindcss';

@custom-variant dark (&&:where(.dark, .dark *));

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1200px;
    width: 100%;
}

body {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
}
