@import 'tailwindcss';

@custom-variant dark (&&:where(.dark, .dark *));

@theme {
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
    --color-muted-foreground: hsl(var(--muted-foreground));
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1200px;
    width: 100%;
}

@layer base {
    body {
        font-family: var(--font-geist-sans), system-ui, sans-serif;
        @apply text-foreground;
    }

    main {
        @apply my-[1.5rem];
    }
}

:root {
    --foreground: 222.2 84% 4.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
}

.dark {
    --foreground: 210 40% 98%;
    --muted-foreground: 215 20.2% 65.1%;
}
